body {
    font-family: 'Quicksand';
}

ul {
    list-style: none;
}

.field {
    width: 400px;
    box-sizing: border-box;
    text-align: center;
}

nav {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100px;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .3s;
}

nav.darken {
    background: rgba(0, 0, 0, 0.8);
    height: 100px;
    padding: 10px 100px;
}

nav .logo {
    padding: 22px 20px;
    height: 80px;
    float: left;
    font-size: 24px;
    transition: .3s;
}

nav.darken .logo {
    color: #fff;
}

nav.darken ul li a:hover {
    color: blue;
    transition: .3s;
}

nav ul {

    float: right;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    line-height: 80px;
    color: #151515;
    padding: 12px 30px;
    text-decoration: none;
    text-transform: uppercase;
    transition: .3s;
}

nav ul li img {
    margin-top: 8px;
    line-height: 80px;
    padding: 12px 30px;
}

nav.darken ul li a {
    color: #fff;
}

nav ul li a:focus {
    outline: none;
}

nav ul li a:hover {
    text-decoration: none;
}

nav ul li a.active {
    background: green;
    color: #fff;
    border-radius: 5px;
}

nav ul li a.active:hover {
    background: green;
    color: blue;
    transition: 1s;
    border-radius: 5px;
}

.form {
    padding-top: 150px;
    background: url(assets/bg.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.miniature {
    width: "100px" !important; 
    height: "auto" !important;
}

.rounded-box {
    border:10px solid #5dff00;
    margin: 0px 400px 0px 400px;
    padding: 30px 0px 30px 0px;
    border-radius: 25px;
    background: #ff5d00;
}

.about {
    background-color: #c9cec6;
    font-family: 'Gothic A1', sans-serif;
    margin-bottom: 0px;
    width: 100%;
    height: auto;
}

.about p {
    width: 900px;
    margin: auto;
    padding-top: 50px;
    text-align: justify;
    font-size: 20px;
}

img.miniature {
    width:30px; 
    height: auto;
}

div.about ol {
    width: 800px;
    margin: 30px auto;
    text-align: justify;
    font-size: 20px;
}

/* Footer links */

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: normal 16px sans-serif;
	padding: 45px 50px;
}

.footer-distributed .footer-left p{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.footer-distributed p.footer-links{
	font-size:18px;
	font-weight: bold;
	color:  #ffffff;
	margin: 0 0 10px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-left: 3px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100% ; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 50% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888 ;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px !important;
    background-color: #5cb85c;
    color: white;
}

/* Modal Body */
.modal-body {
    padding: 2px 16px;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin-top: 10%;
    padding: 0 !important;
    border: 1px solid #888;
    width: 30% !important;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
}

div.modal-content p {
    font-size: 28px;
    font-family: 'Gothic A1', sans-serif !important;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}